<div class="sidebar" id="sidebar">
    <!-- sidebar -->
    <div class="sidebar-inner slimscroll" style="overflow: auto; width: 100%; height: 100%;">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <!--<li class="menu-title">Main</li>-->
                <li class="" [routerLinkActive]="['active']">
                    <a [routerLink]="['/dashboard']"><i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard</a>
                </li>
                <li class="submenu">
                    <a href="javascript:void(0);" [routerLinkActive]="['active subdrop']" (click)="triggerDrop('teacher')" [ngClass]="t_status ? 'active subdrop' : ''"><i class="fa fa-user" aria-hidden="true"></i> <span> Teachers</span> <span class="menu-arrow"></span></a>
                    <ul class="list-unstyled" [ngStyle]="{'display': t_status ? 'block' : 'none'}">
                        <li [routerLinkActive]="['active']"><a [routerLink]="['/teachers/all']">All Teachers</a></li>
                        <li [routerLinkActive]="['active']"><a [routerLink]="['/teachers/add']">Add Teacher</a></li>
                        <li [routerLinkActive]="['active']"><a [routerLink]="['/teachers/edit']">Edit Teacher</a></li>
                        <li [routerLinkActive]="['active']"><a [routerLink]="['/teachers/details']">About Teacher</a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="javascript:void(0);" [routerLinkActive]="['active subdrop']" (click)="triggerDrop('student')" [ngClass]="s_status ? 'active subdrop' : ''"><i class="fa fa-user" aria-hidden="true"></i> <span> Students</span> <span class="menu-arrow"></span></a>
                    <ul class="list-unstyled" [ngStyle]="{'display': s_status ? 'block' : 'none'}">
                        <li [routerLinkActive]="['active']"><a [routerLink]="['/students/all']">All Students</a></li>
                        <li [routerLinkActive]="['active']"><a [routerLink]="['/students/add']">Add Student</a></li>
                        <li [routerLinkActive]="['active']"><a [routerLink]="['/students/edit']">Edit Student</a></li>
                        <li [routerLinkActive]="['active']"><a [routerLink]="['/students/details']">About Student</a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="javascript:void(0);" [routerLinkActive]="['active subdrop']" (click)="triggerDrop('parent')" [ngClass]="p_status ? 'active subdrop' : ''"><i class="fa fa-user" aria-hidden="true"></i> <span> Parents</span> <span class="menu-arrow"></span></a>
                    <ul class="list-unstyled" [ngStyle]="{'display': p_status ? 'block' : 'none'}">
                        <li [routerLinkActive]="['active']"><a [routerLink]="['/parents/all']">All Parents</a></li>
                        <li [routerLinkActive]="['active']"><a [routerLink]="['/parents/add']">Add Parent</a></li>
                        <li [routerLinkActive]="['active']"><a [routerLink]="['/parents/edit']">Edit Parent</a></li>
                        <li [routerLinkActive]="['active']"><a [routerLink]="['/parents/details']">About Parent</a></li>
                    </ul>
                </li>
                <li class="" [routerLinkActive]="['active']">
                    <a [routerLink]="['/school-calendar']"><i class="fa fa-calendar" aria-hidden="true"></i> School Calendar</a>
                </li>
                <li class="" [routerLinkActive]="['active']">
                    <a [routerLink]="['/exams-timetable']"><i class="fa fa-table" aria-hidden="true"></i> Exams Timetable</a>
                </li>
                <li class="" [routerLinkActive]="['active']">
                    <a [routerLink]="['/holidays']"><i class="fa fa-tasks" aria-hidden="true"></i> School Holidays</a>
                </li>
                <li class="submenu"> <!--class="noti-dot"-->
                    <a href="javascript:void(0);" [routerLinkActive]="['active subdrop']" (click)="triggerDrop('management')" [ngClass]="m_status ? 'active subdrop' : ''" ><i class="fa fa-rocket" aria-hidden="true"></i> <span>Management </span> <span class="menu-arrow"></span></a>
                    <ul [ngStyle]="{'display': m_status ? 'block' : 'none'}">
                        <li [routerLinkActive]="['active']"><a [routerLink]="['/management/all-employees']">All Employees</a></li>
                        <li [routerLinkActive]="['active']"><a [routerLink]="['/management/leave-requests']"><span>Leave Requests</span> <span class="badge badge-pill bg-primary float-right">1</span></a></li>
                        <li [routerLinkActive]="['active']"><a [routerLink]="['/management/attendance']">Attendance</a></li>
                        <li [routerLinkActive]="['active']"><a [routerLink]="['/management/departments']">Departments</a></li>
                        <li [routerLinkActive]="['active']"><a [routerLink]="['/management/designations']">Designations</a></li>
                        <li [routerLinkActive]="['active']"><a [routerLink]="['/management/activities']">Activities</a></li>
                        <li [routerLinkActive]="['active']"><a [routerLink]="['/management/users']">Users</a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="javascript:void(0);" [routerLinkActive]="['active subdrop']" (click)="triggerDrop('accounts')" [ngClass]="ac_status ? 'active subdrop' : ''"><i class="fa fa-book" aria-hidden="true"></i><span> Accounts </span> <span class="menu-arrow"></span></a>
                    <ul class="list-unstyled" [ngStyle]="{'display': ac_status ? 'block' : 'none'}">

                        <li [routerLinkActive]="['active']"><a [routerLink]="['/accounts/invoices']">Invoices</a></li>
                        <li [routerLinkActive]="['active']"><a [routerLink]="['/accounts/payments']">Payments</a></li>
                        <li [routerLinkActive]="['active']"><a [routerLink]="['/accounts/expenses']">Expenses</a></li>
                        <li [routerLinkActive]="['active']"><a [routerLink]="['/accounts/provident-fund']">Provident Fund</a></li>
                        <li [routerLinkActive]="['active']"><a [routerLink]="['/accounts/taxes']">Taxes</a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="javascript:void(0);" [routerLinkActive]="['active subdrop']" (click)="triggerDrop('payroll')" [ngClass]="py_status ? 'active subdrop' : ''"><i class="fa fa-money" aria-hidden="true"></i><span> Payroll </span> <span class="menu-arrow"></span></a>
                    <ul class="list-unstyled" [ngStyle]="{'display': py_status ? 'block' : 'none'}">
                        <li [routerLinkActive]="['active']"><a [routerLink]="['/payroll/employee-salary']"> Employee Salary </a></li>
                        <li [routerLinkActive]="['active']"><a [routerLink]="['/payroll/pay-slip']"> Payslip </a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="javascript:void(0);" [routerLinkActive]="['active subdrop']" (click)="triggerDrop('report')" [ngClass]="r_status ? 'active subdrop' : ''"><i class="fa fa-files-o" aria-hidden="true"></i> <span> Reports</span> <span class="menu-arrow"></span></a>
                    <ul class="list-unstyled" [ngStyle]="{'display': r_status ? 'block' : 'none'}">
                        <li [routerLinkActive]="['active']"><a [routerLink]="['/reports/expense']"> Expense Report </a></li>
                        <li [routerLinkActive]="['active']"><a [routerLink]="['/reports/invoice']"> Invoice Report </a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="javascript:void(0);" [routerLinkActive]="['active subdrop']" (click)="triggerDrop('settings')" [ngClass]="st_status ? 'active subdrop' : ''"><i class="fa fa-cogs" aria-hidden="true"></i> <span>Settings </span> <span class="menu-arrow"></span></a>
                    <ul [ngStyle]="{'display': st_status ? 'block' : 'none'}">
                        <li [routerLinkActive]="['active']"><a [routerLink]="['/settings/school-info']"> School Settings</a></li>
                        <li [routerLinkActive]="['active']"><a [routerLink]="['/settings/localization']"> Localization</a></li>
                        <li [routerLinkActive]="['active']"><a [routerLink]="['/settings/theme']"> Theme Settings</a></li>
                        <li [routerLinkActive]="['active']"><a [routerLink]="['/settings/roles-permissions']"> Roles & Permissions</a></li>
                        <li [routerLinkActive]="['active']"><a [routerLink]="['/settings/email']"> Email Settings</a></li>
                        <li [routerLinkActive]="['active']"><a [routerLink]="['/settings/invoice']"> Invoice Settings</a></li>
                        <li [routerLinkActive]="['active']"><a [routerLink]="['/settings/salary']"> Salary Settings</a></li>
                        <li [routerLinkActive]="['active']"><a [routerLink]="['/settings/notifications']"> Notifications</a></li>
                        <li [routerLinkActive]="['active']"><a [routerLink]="['/settings/change-password']"> Change Password</a> </li>
                        <li [routerLinkActive]="['active']"><a [routerLink]="['/settings/leave-type']"> Leave Type</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>